node-red/flows.json
[{"id":"e14533de.48e02","type":"tab","label":"PostgreSQL","disabled":true,"info":""},{"id":"72214d68.df13c4","type":"tab","label":"influxdb","disabled":true,"info":""},{"id":"e430760b.27f078","type":"tab","label":"end point","disabled":true,"info":""},{"id":"77c2a944.706048","type":"tab","label":"socket server","disabled":false,"info":""},{"id":"739a1b52.6a1eac","type":"tab","label":"socker client","disabled":true,"info":""},{"id":"f1615fd3.1f7d8","type":"postgresdb","hostname":"postgres","port":"5432","db":"mydatabase","ssl":false},{"id":"b56336c6.4f8bf8","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"mydatabase","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"780abad0.e5b324","type":"inject","z":"e14533de.48e02","name":"data trigger","repeat":"5","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":277.0000305175781,"y":379.00000858306885,"wires":[["c1d1ca7a.783e08"]]},{"id":"21fb2d51.ff1ec2","type":"function","z":"e14533de.48e02","name":"prepare query","func":"msg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into mytable (timestamp, username, experiment, value) values ($1, $2, $3, $4)',\n        params: [msg.payload[\"timestamp\"], msg.payload[\"username\"], msg.payload[\"experiment\"], msg.payload[\"value\"]],\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":380,"wires":[["aaf10a7.b2a88f8"]]},{"id":"aaf10a7.b2a88f8","type":"postgres","z":"e14533de.48e02","postgresdb":"f1615fd3.1f7d8","name":"mydatabase","output":true,"outputs":1,"x":970,"y":380,"wires":[["eb62e24a.56bad"]]},{"id":"c1d1ca7a.783e08","type":"function","z":"e14533de.48e02","name":"create data point","func":"msg.payload = {\n    \"timestamp\": Math.floor(Date.now()/1000),\n    \"username\": \"Brent Maranzano\",\n    \"experiment\": \"test\",\n    \"value\": Math.floor(Math.random()*1000+10000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["21fb2d51.ff1ec2"]]},{"id":"738c1b6a.287a74","type":"inject","z":"72214d68.df13c4","name":"data trigger","repeat":"5","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":290,"y":180,"wires":[["e0eb084c.27a208"]]},{"id":"e0eb084c.27a208","type":"function","z":"72214d68.df13c4","name":"create data","func":"msg.payload = {\n    \"username\": \"Brent Maranzano\",\n    \"experiment\": \"test\",\n    \"value\": Math.floor(Math.random()*1000+10000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["616115e4.ab3d7c"]]},{"id":"616115e4.ab3d7c","type":"influxdb out","z":"72214d68.df13c4","influxdb":"b56336c6.4f8bf8","name":"mydatabase","measurement":"random","precision":"","retentionPolicy":"","x":830,"y":180,"wires":[]},{"id":"f3f059f3.827e08","type":"http response","z":"e430760b.27f078","name":"http response","statusCode":"","headers":{},"x":880,"y":300,"wires":[]},{"id":"afe8c170.a1e1e","type":"function","z":"e430760b.27f078","name":"html response","func":"msg.payload = \"hello world from node-red\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["f3f059f3.827e08","34f06841.cbfd68"]]},{"id":"bb98d5cf.452df8","type":"http in","z":"e430760b.27f078","name":"node-red endpoint","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":410,"y":300,"wires":[["afe8c170.a1e1e","34f06841.cbfd68"]]},{"id":"34f06841.cbfd68","type":"debug","z":"e430760b.27f078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":380,"wires":[]},{"id":"eb62e24a.56bad","type":"debug","z":"e14533de.48e02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":380,"wires":[]},{"id":"1f385436.cb8dc4","type":"tcp in","z":"77c2a944.706048","name":"","server":"server","host":"","port":"49152","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":370,"y":600,"wires":[["6114743c.f901ac"]]},{"id":"1483632d.8d048d","type":"debug","z":"77c2a944.706048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":600,"wires":[]},{"id":"6114743c.f901ac","type":"function","z":"77c2a944.706048","name":"","func":"buffer = new Buffer.from(msg.payload);\nmsg.payload = buffer.toJSON();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":600,"wires":[["1483632d.8d048d"]]},{"id":"d97fca5c.6e9828","type":"function","z":"739a1b52.6a1eac","name":"","func":"\nmsg.payload = Buffer.from(JSON.stringify(authenticateUser));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":220,"wires":[["5836c352.da586c"]]},{"id":"5836c352.da586c","type":"tcp out","z":"739a1b52.6a1eac","host":"10.131.1.23","port":"49152","beserver":"client","base64":false,"end":false,"name":"","x":860,"y":220,"wires":[]},{"id":"ee6ff63a.09c96","type":"inject","z":"739a1b52.6a1eac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":220,"wires":[["d97fca5c.6e9828"]]},{"id":"1b5802c3.6cae8d","type":"function","z":"739a1b52.6a1eac","name":"set socket commands","func":"flow.set(\"getSampleResults\", {\n    \"RequestStatus\":\"OK\",\n    \"RequestMessage\":\"\",\n    \"Command\":\"SAMPLE_RESULTS\",\n    \"SampleName\":\"\",\n    \"SampleFields\":[],\n    \"SampleSetMethodName\":\"\",\n    \"SampleResults\":null\n});\nflow.set(\"getDatabaseList\", {\n    \"UseServiceSettings\":true,\n    \"Command\":\"GETDATABASELIST\",\n    \"DatabaseList\":[],\n    \"Status\":\"CommandUnprocessed\",\n    \"StatusMessage\":\"\"\n});\nflow.set(\"authenticateUser\", {\n    \"UseServiceSettings\":true,\n    \"Command\":\"AUTHENTICATEUSER\",\n    \"EmpowerDatabase\":\"ia005181.pfizer.com\",\n    \"EmpowerUserName\":\"pharmamv\",\n    \"EmpowerUserPassword\":\"pfizer2K\",\n    \"ProjectList\":[],\n    \"Status\":\"CommandUnprocessed\",\n    \"StatusMessage\":\"\"\n});","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[[]]},{"id":"dfdc94d6.8f5df8","type":"change","z":"739a1b52.6a1eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":440,"wires":[[]]}]