node-red/flows.json
[{"id":"e14533de.48e02","type":"tab","label":"PostgreSQL","disabled":false,"info":""},{"id":"72214d68.df13c4","type":"tab","label":"influxdb","disabled":false,"info":""},{"id":"8cd5a632.6457e8","type":"tab","label":"QCM","disabled":false,"info":""},{"id":"f1615fd3.1f7d8","type":"postgresdb","z":"","hostname":"postgres","port":"5432","db":"mydatabase","ssl":false},{"id":"b56336c6.4f8bf8","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"DPD","name":"","usetls":false,"tls":""},{"id":"5fc328c2.4bf0f8","type":"mqtt-broker","z":"","name":"xeon","broker":"10.131.72.83","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3fa7a1c.973105e","type":"ui_group","z":"","name":"Controls","tab":"b80bcdc8.ad564","order":2,"disp":true,"width":"18","collapse":false},{"id":"b80bcdc8.ad564","type":"ui_tab","z":"","name":"QCM","icon":"dashboard","disabled":false,"hidden":false},{"id":"69aa1fb5.e84e6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d3f3b7be.331038","type":"ui_group","z":"","name":"login","tab":"b80bcdc8.ad564","order":1,"disp":true,"width":"12","collapse":false},{"id":"5f3115a3.390f3c","type":"ui_spacer","name":"spacer","group":"d3f3b7be.331038","order":2,"width":"6","height":1},{"id":"e113fb89.481a28","type":"ui_spacer","name":"spacer","group":"d3f3b7be.331038","order":4,"width":"6","height":1},{"id":"1ea83737.097139","type":"ui_spacer","name":"spacer","group":"d3f3b7be.331038","order":8,"width":"10","height":1},{"id":"636e95ce.48523c","type":"ui_spacer","name":"spacer","group":"d3f3b7be.331038","order":6,"width":"6","height":1},{"id":"780abad0.e5b324","type":"inject","z":"e14533de.48e02","name":"data trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":277.0000305175781,"y":379.00000858306885,"wires":[["c1d1ca7a.783e08"]]},{"id":"21fb2d51.ff1ec2","type":"function","z":"e14533de.48e02","name":"prepare query","func":"msg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into mytable (timestamp, username, experiment, value) values ($1, $2, $3, $4)',\n        params: [msg.payload[\"timestamp\"], msg.payload[\"username\"], msg.payload[\"experiment\"], msg.payload[\"value\"]],\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":380,"wires":[["aaf10a7.b2a88f8"]]},{"id":"aaf10a7.b2a88f8","type":"postgres","z":"e14533de.48e02","postgresdb":"f1615fd3.1f7d8","name":"mydatabase","output":true,"outputs":1,"x":970,"y":380,"wires":[["eb62e24a.56bad"]]},{"id":"c1d1ca7a.783e08","type":"function","z":"e14533de.48e02","name":"create data point","func":"msg.payload = {\n    \"timestamp\": Math.floor(Date.now()/1000),\n    \"username\": \"Brent Maranzano\",\n    \"experiment\": \"test\",\n    \"value\": Math.floor(Math.random()*1000+10000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["21fb2d51.ff1ec2"]]},{"id":"738c1b6a.287a74","type":"inject","z":"72214d68.df13c4","name":"data trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":180,"wires":[["e0eb084c.27a208"]]},{"id":"e0eb084c.27a208","type":"function","z":"72214d68.df13c4","name":"create data","func":"msg.payload = {\n    \"username\": \"Brent Maranzano\",\n    \"experiment\": \"test\",\n    \"value\": Math.floor(Math.random()*1000+10000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["616115e4.ab3d7c"]]},{"id":"616115e4.ab3d7c","type":"influxdb out","z":"72214d68.df13c4","influxdb":"b56336c6.4f8bf8","name":"mydatabase","measurement":"random","precision":"","retentionPolicy":"","x":830,"y":180,"wires":[]},{"id":"eb62e24a.56bad","type":"debug","z":"e14533de.48e02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":380,"wires":[]},{"id":"a28f7633.5aa8e8","type":"mqtt out","z":"8cd5a632.6457e8","name":"","topic":"qcm/in","qos":"","retain":"","broker":"5fc328c2.4bf0f8","x":650,"y":100,"wires":[]},{"id":"a1721178.4bddb","type":"mqtt in","z":"8cd5a632.6457e8","name":"","topic":"qcm/out","qos":"2","datatype":"auto","broker":"5fc328c2.4bf0f8","x":810,"y":100,"wires":[["7afc793a.a91f18"]]},{"id":"98425fe7.773f4","type":"ui_button","z":"8cd5a632.6457e8","name":"start","group":"3fa7a1c.973105e","order":3,"width":"2","height":"1","passthru":true,"label":"start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\": \"start\"}","payloadType":"json","topic":"/qcm/in","x":290,"y":280,"wires":[["3e5eeea6.dda6d2"]]},{"id":"fc0b915e.00ad5","type":"inject","z":"8cd5a632.6457e8","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["98425fe7.773f4"]]},{"id":"62d2cd9b.949004","type":"ui_button","z":"8cd5a632.6457e8","name":"stop","group":"3fa7a1c.973105e","order":4,"width":"2","height":"1","passthru":true,"label":"stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\": \"stop\"}","payloadType":"json","topic":"/qcm/in","x":290,"y":320,"wires":[["3e5eeea6.dda6d2"]]},{"id":"2579d428.edfd1c","type":"inject","z":"8cd5a632.6457e8","name":"stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["62d2cd9b.949004"]]},{"id":"fc4e5177.ce87e","type":"function","z":"8cd5a632.6457e8","name":"sort response","func":"msg.payload = JSON.parse(msg.payload);\nif (msg.payload.hasOwnProperty(\"data\")) {\n    msg.payload = msg.payload.data;\n    return [msg, null];\n}\nelse if (msg.payload.hasOwnProperty(\"status\")) {\n    msg.payload = msg.payload.status;\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":980,"y":440,"wires":[["2757554b.81d4ca"],["6e75a268.476e5c"]]},{"id":"8a5cc764.27b2e8","type":"inject","z":"8cd5a632.6457e8","name":"check credentials","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":720,"wires":[["5e8099a.a365e68"]]},{"id":"6978847e.e842cc","type":"ui_text_input","z":"8cd5a632.6457e8","name":"user name","label":"user name","tooltip":"Enter user name as it will be in tagged in the database.","group":"d3f3b7be.331038","order":1,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"userName","x":230,"y":520,"wires":[["580e9845.c92c08"]]},{"id":"848dc21a.c8199","type":"ui_text_input","z":"8cd5a632.6457e8","name":"password","label":"password","tooltip":"Enter a password that will lock the instrument.","group":"d3f3b7be.331038","order":3,"width":"6","height":"1","passthru":true,"mode":"password","delay":300,"topic":"password","x":240,"y":560,"wires":[["580e9845.c92c08"]]},{"id":"580e9845.c92c08","type":"function","z":"8cd5a632.6457e8","name":"set flow variables","func":"switch (msg.topic) {\n    case \"userName\":\n        userName = msg.payload || \"Brent Maranzano\";\n        flow.set(\"userName\", msg.payload);\n        break;\n    case \"password\":\n        password = msg.payload || \"BigLongPassword\";\n        flow.set(\"password\", msg.payload);\n        break;\n    case \"experimentName\":\n        experimentName = msg.payload || \"default experiment\";\n        flow.set(\"experimentName\", msg.payload);\n        break;\n}","outputs":1,"noerr":0,"x":510,"y":540,"wires":[[]]},{"id":"3e5eeea6.dda6d2","type":"function","z":"8cd5a632.6457e8","name":"add credentials","func":"if (flow.get(\"userName\") == null || flow.get(\"password\") == null || flow.get(\"experimentName\") == null) {\n    msg.payload({\"status\": \"User name, password and experiment name required.\"});\n    return [null, msg];\n}\nelse {\n    msg.payload[\"userName\"] = flow.get(\"userName\");\n    msg.payload[\"password\"] = flow.get(\"password\");\n    return [msg, null];\n}","outputs":2,"noerr":0,"x":480,"y":300,"wires":[["240216e0.13c43a"],["f202d362.fd3ae"]]},{"id":"5e8099a.a365e68","type":"ui_button","z":"8cd5a632.6457e8","name":"login","group":"d3f3b7be.331038","order":7,"width":"2","height":"1","passthru":true,"label":"login","tooltip":"Click to set credentials","color":"","bgcolor":"","icon":"","payload":"test","payloadType":"str","topic":"userName","x":330,"y":720,"wires":[["3c90dc38.552734"]]},{"id":"3c90dc38.552734","type":"function","z":"8cd5a632.6457e8","name":"send credentials","func":"msg.payload = {\n    \"command\": \"login\",\n    \"value\": {\n        \"userName\": flow.get(\"userName\"),\n        \"password\": flow.get(\"password\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":720,"wires":[["76669a2.2ace764"]]},{"id":"7a786b64.d63154","type":"comment","z":"8cd5a632.6457e8","name":"send login credentials","info":"Take the user name and password stored in the flow variable and send to MQTT.","x":380,"y":680,"wires":[]},{"id":"7860c8c3.465e98","type":"comment","z":"8cd5a632.6457e8","name":"set credentials","info":"Save the user input to a flow variable.","x":250,"y":480,"wires":[]},{"id":"a528dd13.5b3d8","type":"comment","z":"8cd5a632.6457e8","name":"QCM","info":"","x":650,"y":60,"wires":[]},{"id":"c77a6d76.b2856","type":"comment","z":"8cd5a632.6457e8","name":"send commands","info":"Take user input, add the user credentials from a flow variable and send to MQTT.","x":300,"y":240,"wires":[]},{"id":"65799938.2134f8","type":"link in","z":"8cd5a632.6457e8","name":"to QCM controller","links":["240216e0.13c43a","aef90c39.e438a","76669a2.2ace764"],"x":535,"y":100,"wires":[["a28f7633.5aa8e8"]]},{"id":"7afc793a.a91f18","type":"link out","z":"8cd5a632.6457e8","name":"from QCM controller","links":["788bba83.8c7ae4"],"x":940,"y":100,"wires":[]},{"id":"240216e0.13c43a","type":"link out","z":"8cd5a632.6457e8","name":"from commands","links":["65799938.2134f8"],"x":615,"y":280,"wires":[]},{"id":"788bba83.8c7ae4","type":"link in","z":"8cd5a632.6457e8","name":"to format response","links":["7afc793a.a91f18","f202d362.fd3ae"],"x":835,"y":440,"wires":[["fc4e5177.ce87e"]]},{"id":"456340aa.9c6f7","type":"comment","z":"8cd5a632.6457e8","name":"format response","info":"","x":900,"y":280,"wires":[]},{"id":"76669a2.2ace764","type":"link out","z":"8cd5a632.6457e8","name":"set credentials","links":["65799938.2134f8"],"x":675,"y":720,"wires":[]},{"id":"2757554b.81d4ca","type":"function","z":"8cd5a632.6457e8","name":"sort data","func":"let name = String(msg.payload.name);\nlet value = Number(msg.payload.value);\n        \nswitch (name) {\n    case \"frequency\":\n        msg.payload = {\n            \"userName\": flow.get(\"userName\"),\n            \"experimentName\": flow.get(\"experimentName\"),\n            \"frequency\": value\n        }\n        node.send([null, null, msg]);\n        \n        msg.payload = value;\n        return [msg, null, null];\n        \n    case \"resistance\":\n        msg.payload = {\n            \"userName\": flow.get(\"userName\"),\n            \"experimentName\": flow.get(\"experimentName\"),\n            \"resistance\": value\n        }\n        node.send([null, null, msg]);\n        \n        msg.payload = value\n        return [null, msg, null];\n}","outputs":3,"noerr":0,"x":1160,"y":440,"wires":[["cb44e360.d9667"],["3f486bab.249d64"],["6e057872.47e938"]]},{"id":"6e75a268.476e5c","type":"ui_text","z":"8cd5a632.6457e8","group":"d3f3b7be.331038","order":9,"width":"6","height":"4","name":"status","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":500,"wires":[]},{"id":"cb44e360.d9667","type":"ui_chart","z":"8cd5a632.6457e8","name":"frequency","group":"3fa7a1c.973105e","order":1,"width":"18","height":"6","label":"frequency","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":360,"wires":[[]]},{"id":"3f486bab.249d64","type":"ui_chart","z":"8cd5a632.6457e8","name":"resistance","group":"3fa7a1c.973105e","order":2,"width":"18","height":"6","label":"resistance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":420,"wires":[[]]},{"id":"ed581fd3.d0a08","type":"ui_button","z":"8cd5a632.6457e8","name":"reset","group":"3fa7a1c.973105e","order":4,"width":"2","height":"1","passthru":true,"label":"reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"/qcm/in","x":1170,"y":340,"wires":[["cb44e360.d9667","3f486bab.249d64"]]},{"id":"2bdb2201.e494ee","type":"inject","z":"8cd5a632.6457e8","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":340,"wires":[["ed581fd3.d0a08"]]},{"id":"6e057872.47e938","type":"influxdb out","z":"8cd5a632.6457e8","influxdb":"b56336c6.4f8bf8","name":"DPD","measurement":"qcm","precision":"","retentionPolicy":"","x":1350,"y":480,"wires":[]},{"id":"bbdf76b9.175638","type":"ui_text_input","z":"8cd5a632.6457e8","name":"experiment name","label":"Experiment name","tooltip":"Enter an experiment name.","group":"d3f3b7be.331038","order":5,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"experimentName","x":210,"y":600,"wires":[["580e9845.c92c08"]]},{"id":"f202d362.fd3ae","type":"link out","z":"8cd5a632.6457e8","name":"","links":["788bba83.8c7ae4"],"x":615,"y":340,"wires":[]}]