node-red/flows.json
[{"id":"e3ce0d13.c47f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7aaeab0e.1e45ac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f1615fd3.1f7d8","type":"postgresdb","hostname":"postgres","port":"5432","db":"mydatabase","ssl":false},{"id":"b56336c6.4f8bf8","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"mydatabase","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"5d3bae8a.df1578","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7004ea01.fe8b34","type":"websocket-listener","path":"/ws/example","wholemsg":"false"},{"id":"bb4984a7.934408","type":"mqtt in","z":"e3ce0d13.c47f","name":"","topic":"frigg/data","qos":"2","datatype":"auto","broker":"5d3bae8a.df1578","x":740,"y":260,"wires":[["ecf195bb.0f1c"]]},{"id":"ecf195bb.0f1c","type":"debug","z":"e3ce0d13.c47f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":280,"wires":[]},{"id":"19e0fc59.e44534","type":"mqtt out","z":"e3ce0d13.c47f","name":"","topic":"frigg/command","qos":"","retain":"","broker":"5d3bae8a.df1578","x":1180,"y":460,"wires":[]},{"id":"a195985d.66e4c8","type":"inject","z":"e3ce0d13.c47f","name":"login","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"user\":\"me\",\"password\":\"mypassword\",\"command\":{\"command_name\":\"login\",\"parameters\":null}}","payloadType":"json","x":710,"y":420,"wires":[["a68c26dd.bd94"]]},{"id":"63f019cc.22f9e8","type":"inject","z":"e3ce0d13.c47f","name":"get_about","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"user\":\"me\",\"password\":\"mypassword\",\"command\":{\"command_name\":\"get_about\",\"parameters\":null}}","payloadType":"json","x":720,"y":480,"wires":[["a68c26dd.bd94"]]},{"id":"674d421b.d963f4","type":"inject","z":"e3ce0d13.c47f","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"user\":\"me\",\"password\":\"mypassword\",\"command\":{\"command_name\":\"start\",\"parameters\":null}}","payloadType":"json","x":710,"y":540,"wires":[["a68c26dd.bd94"]]},{"id":"a420940f.f3812","type":"inject","z":"e3ce0d13.c47f","name":"set_SP1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"user\":\"me\",\"password\":\"mypassword\",\"command\":{\"command_name\":\"set_SP1\",\"parameters\":{\"value\":50}}}","payloadType":"json","x":740,"y":600,"wires":[["a68c26dd.bd94"]]},{"id":"a31961cd.4be15","type":"inject","z":"e3ce0d13.c47f","name":"logout","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"user\":\"me\",\"password\":\"mypassword\",\"command\":{\"command_name\":\"logout\",\"parameters\":null}}","payloadType":"json","x":750,"y":660,"wires":[["a68c26dd.bd94"]]},{"id":"a68c26dd.bd94","type":"function","z":"e3ce0d13.c47f","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":460,"wires":[["19e0fc59.e44534"]]},{"id":"c39b7c59.e78cf","type":"mqtt in","z":"e3ce0d13.c47f","name":"","topic":"frigg/command","qos":"2","datatype":"auto","broker":"5d3bae8a.df1578","x":1180,"y":280,"wires":[["996d93bf.ae8df8"]]},{"id":"996d93bf.ae8df8","type":"debug","z":"e3ce0d13.c47f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":260,"wires":[]},{"id":"44246074.6bf658","type":"http request","z":"7aaeab0e.1e45ac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"flask:8000/ape/3","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":320,"wires":[["64000902.a89cc8"]]},{"id":"c960b130.5cfb48","type":"inject","z":"7aaeab0e.1e45ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"Nick\"}","payloadType":"json","x":190,"y":240,"wires":[["426b3d2a.f14554"]]},{"id":"64000902.a89cc8","type":"debug","z":"7aaeab0e.1e45ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":320,"wires":[]},{"id":"426b3d2a.f14554","type":"function","z":"7aaeab0e.1e45ac","name":"","func":"msg.headers = {\n    \"content-type\":\"application/x-www-form-urlencoded\"\n};\nmsg.payload = {\n    \"Name\": \"Nick\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":280,"wires":[["44246074.6bf658"]]}]